.mixCard {
    /* border: 1px solid yellow; */
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;

    background: black;
    border-radius: 5px;
    /* border: 1px solid #fd0f72; */
    box-shadow: 0 8px 16px 0 rgba(255, 53, 114, 0.2),
        0 6px 20px 0 rgba(255, 255, 0, 0.19);
}

.mixCardInfo {
    display: flex;
    justify-content: space-around;
    height: 30px;
    color: white;
    /* border: 1px solid purple; */
}




