#transportControlsContainer {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 33% 25% 33%;

}

#transportVolumeContainer {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#transportVolumeContainer label {
    position: relative;
    top: 7px;
}

#timer {
    grid-column: 2 / 3;
    text-align: center;
    font-size: 28px;
}

#playPause {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    text-align: center;
}

#seekbar {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

#availableVotes {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    text-align: center;
    font-size: 25px;
}









#mixesContainer {
    /* border: 5px solid purple; */
    /* height: 100%; */
    height: -moz-calc(100% - 82px);
    height: -webkit-calc(100% - 82px);
    

    background: linear-gradient(
            to right,
            rgb(33, 24, 152),
            rgb(76, 59, 172)
        );
}

#transportControlsContainer {
    background-color: black;
    color: white;
    position: fixed;
    z-index: 1;
    width: -moz-calc(100% - 16px);
    width: -webkit-calc(100% - 16px);
    height: 125px;
    bottom: 0px;
    margin: 8px;
    /* padding: 10px; */
    border-radius: 5px;
}

#transportSeekBarContainer {
    margin-top: 5px;
}

#playPause button {
    width: 75px;
    height: 75px;
    margin: auto;
    border: 5px solid white;
    border-radius: 50%;
    font-size: 35px;
    padding: 0px;
    background-color: rgb(252, 113, 0);
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2),
        0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

#playPause button:hover {
    transition-duration: 0.5s;
    background-color: aqua;
}

.music-card-container {
    /* border: 2px solid green; */
    overflow: scroll;
    height: -moz-calc(100% - 125px);
    height: -webkit-calc(100% - 125px);
    /* height: 500px; */
}