html,
body,
#root,
main {
    height: 100%;
}

main {
    background: linear-gradient(to right, rgb(33, 24, 152), rgb(76, 59, 172));
    overflow: scroll;
    /* min-width: 1500px; */
}

/******************* DESKTOP LAYOUT **********************/

@media only screen and (min-device-width: 601px) {
    #mainMixerContainer {
        color: white;
        border-radius: 5px;
        background: linear-gradient(
            to right,
            rgb(33, 24, 152),
            rgb(76, 59, 172)
        );
        height: 100%;
        min-height: 800px;
        width: 1500px;
        margin: auto;
        display: grid;
        grid-template-areas:
            "visualizer visualizer visualizer"
            "delay transport compressor"
            "delay speed compressor"
            "eq eq eq";
        justify-items: center;
        grid-template-rows: 35% 12% 12% 41%;
        grid-template-columns: 33% 33% 33%;
    }

    #visualizerContainer {
        grid-area: visualizer;
        height: 100%;
        width: -moz-calc(100% - 16px);
        width: -webkit-calc(100% - 16px);
    }

    #transportContainer {
        grid-area: transport;
        margin: 8px;
        width: -moz-calc(100% - 16px);
        width: -webkit-calc(100% - 16px);
    }

    #playSpeedContainer {
        grid-area: speed;
        margin: 8px;
        width: -moz-calc(100% - 16px);
        width: -webkit-calc(100% - 16px);
    }

    #delayContainer {
        grid-area: delay;
        margin: 8px;
        width: -moz-calc(100% - 16px);
        width: -webkit-calc(100% - 16px);
    }

    #compressorContainer {
        grid-area: compressor;
        margin: 8px;
        width: -moz-calc(100% - 16px);
        width: -webkit-calc(100% - 16px);
    }

    #eqPlaySaveContainer {
        grid-area: eq;
        margin: 8px;
        width: -moz-calc(100% - 16px);
        width: -webkit-calc(100% - 16px);
    }
}

/************** MOBILE LAYOUT ******************/

@media only screen and (max-device-width: 600px) {
    #mainMixerContainer {
        color: white;
        background: linear-gradient(
            to right,
            rgb(33, 24, 152),
            rgb(76, 59, 172)
        );
        min-height: 100%;
        display: grid;
        grid-template-areas:
            "visualizer"
            "transport"
            "speed"
            "eq"
            "delay"
            "compressor";
        justify-items: center;
        grid-template-columns: 100%;
    }

    #visualizerContainer {
        grid-area: visualizer;
        height: 100%;
        width: -moz-calc(100% - 16px);
        width: -webkit-calc(100% - 16px);
    }

    #transportContainer {
        grid-area: transport;
        margin: 8px;
        width: -moz-calc(100% - 16px);
        width: -webkit-calc(100% - 16px);
    }

    #playSpeedContainer {
        grid-area: speed;
        height: 100px;
        margin: 8px;
        width: -moz-calc(100% - 16px);
        width: -webkit-calc(100% - 16px);
    }

    #delayContainer {
        grid-area: delay;
        margin: 8px;
        width: -moz-calc(100% - 16px);
        width: -webkit-calc(100% - 16px);
    }

    #compressorContainer {
        grid-area: compressor;
        margin: 8px;
        width: -moz-calc(100% - 16px);
        width: -webkit-calc(100% - 16px);
    }

    #eqPlaySaveContainer {
        grid-area: eq;
        margin: 8px;
        width: -moz-calc(100% - 16px);
        width: -webkit-calc(100% - 16px);
    }
}
