html,
body,
#root,
main {
    height: 100%;
}

/*******************************************************/

#mainMixerContainer {
    color: white;
    border: 2px solid purple;
    background-color: darkslateblue;
    height: 100%;
    /* border: 5px solid purple; */
    display: grid;
    grid-template-areas:
        "visualizer visualizer visualizer"
        "delay transport compressor"
        "delay speed compressor"
        "eq eq eq";
    justify-items: center;
    grid-template-rows: 35% 10% 10% 35%;
    grid-template-columns: 33% 33% 33%;
}

#visualizerContainer {
    border: 1px solid blue;
    grid-area: visualizer;
    height: 100%;
    width: 100%;
}

#transportContainer {
    border: 1px solid yellow;
    grid-area: transport;
}

#playSpeedContainer {
    border: 1px solid yellow;
    grid-area: speed;
}

#delayContainer {
    border: 1px solid yellow;
    grid-area: delay;
}

#compressorContainer {
    border: 1px solid yellow;
    grid-area: compressor;
}

#eqContainer {
    border: 1px solid yellow;
    grid-area: eq;
}

/**********************************************************/

/* temp styling for seekbar testing */
/* #seekBar {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 10px;
}  */

/* ----------------- RANGE SLIDER CSS ------------- */

/* DELAY */
.delaySliders {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #000;
    outline: none;
    border: 5px solid rgb(244, 252, 0);
    border-radius: 8px;
}

/* for chrome/safari */
.delaySliders::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 25px;
    background: #000;
    cursor: pointer;
    border: 5px solid rgb(252, 0, 0);
    border-radius: 4px;
}

/* for firefox */
.delaySliders::-moz-range-thumb {
    width: 20px;
    height: 60px;
    background: #000;
    cursor: pointer;
    border: 5px solid lawngreen;
    border-radius: 4px;
}
/* DELAY */

#delayContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

#delayP {
    text-align: center;
    margin: 0;
}

#delayContainer label {
    text-align: center;
}

.delaySliderContainer {
    display: grid;
    grid-template-columns: 20% 65% 15%;
    grid-template-rows: 25% 25% 25% 25%;
}

/* TRANSPORT */
.transportSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #000;
    outline: none;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 8px;
}

/* for chrome/safari */
.transportSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 10px;
    background: #000;
    cursor: pointer;
    border: 5px solid rgb(21, 252, 0);
    border-radius: 4px;
}

.transportSlider::-moz-range-thumb {
    width: 20px;
    height: 60px;
    background: #000;
    cursor: pointer;
    border: 5px solid lawngreen;
    border-radius: 4px;
}

/* TRANSPORT */
#transportContainer {
    width: 100%;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 20% 60% 20%;
}

#transportPlayContainer {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    display: flex;
    justify-content: center;
    border: 1px solid red;
}

#transportPlayContainer button {
    border-radius: 50%;
    width: 50%;
    border: none;
    background-color: rgb(252, 113, 0);
}

#transportPlayContainer button:hover {
    transition-duration: 0.5s;
    background-color: aqua;
}

#transportVolumeContainer {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
}

#transportVolumeContainer input {
    width: 100%;
}

#transportTimeContainer {
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 1px solid red;
}

#transportSeekBarContainer {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    border: 1px solid red;
}

#transportSaveContainer {
    display: flex;
    justify-content: space-around;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    border: 1px solid red;
}

#transportSaveContainer button {
    border-radius: 50%;
    width: 50%;
    border: none;
    background-color: rgb(252, 113, 0);
}

#transportSaveContainer button:hover {
    transition-duration: 0.5s;
    background-color: aqua;
}

/* SPEED */

.playSpeedSliders {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #000;
    outline: none;
    border: 5px solid rgb(252, 0, 231);
    border-radius: 8px;
}

/* for chrome/safari */
.playSpeedSliders::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 25px;
    background: #000;
    cursor: pointer;
    border: 5px solid rgb(105, 0, 252);
    border-radius: 4px;
}

/* for firefox */
.playSpeedSliders::-moz-range-thumb {
    width: 20px;
    height: 60px;
    background: #000;
    cursor: pointer;
    border: 5px solid lawngreen;
    border-radius: 4px;
}

/* SPEED */
#playSpeedContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

#playSpeedP {
    text-align: center;
    margin: 0;
}

#playSpeedContainer label {
    text-align: center;
}

.playSpeedSliderContainer {
    display: grid;
    grid-template-columns: 20% 65% 15%;
    grid-template-rows: 25% 25% 25% 25%;
}

#playSpeedDetuneLabel {
    font-size: 12px;
}

/* COMPRESSOR */

.compressorSliders {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #000;
    outline: none;
    border: 5px solid rgb(0, 193, 252);
    border-radius: 8px;
}

/* for chrome/safari */
.compressorSliders::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 25px;
    background: #000;
    cursor: pointer;
    border: 5px solid rgb(8, 0, 252);
    border-radius: 4px;
}

/* for firefox */
.compressorSliders::-moz-range-thumb {
    width: 20px;
    height: 60px;
    background: #000;
    cursor: pointer;
    border: 5px solid lawngreen;
    border-radius: 4px;
}

/* COMPRESSOR */

#compressorContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

#compressorP {
    text-align: center;
    margin: 0;
}

#compressorContainer label {
    text-align: center;
}

.compressorSliderContainer {
    display: grid;
    grid-template-columns: 20% 65% 15%;
    grid-template-rows: 25% 25% 25% 25%;
}

/* ----------------- RANGE SLIDER CSS ------------- */

/* ----------------- EQUALIZER CSS ------------- */

/* SPACING */

#eqContainer {
    width: 80%;
    display: flex;
    justify-content: space-around;
    /* position: relative;
    top: 75px; */
}

.eqBand {
    border: 1px solid yellow;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.eqGain {
    transform: rotate(0.75turn);
}

.eqFrequency {
    border: 1px solid purple;
    text-align: center;
}


/* RANGE SLIDERS */

.eqGain {
    -webkit-appearance: none;
    /* appearance: slider-vertical; */
    width: 100%;
    height: 20px;
    background: #000;
    outline: none;
    border: 5px solid rgb(252, 113, 0);
    border-radius: 8px;
}

/* for chrome/safari */
.eqGain::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 50px;
    background: #000;
    cursor: pointer;
    border: 5px solid rgb(59, 252, 0);
    border-radius: 4px;
}

/* for firefox */
.eqGain::-moz-range-thumb {
    width: 20px;
    height: 60px;
    background: #000;
    cursor: pointer;
    border: 5px solid lawngreen;
    border-radius: 4px;
}

/* ----------------- EQUALIZER CSS ------------- */
