.navbar-container{
background-color: #323854;}

.navbar-container h1 {
    text-decoration: none;
    color: white;
}

.navbar-container ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-container li{
display: inline;

}

.dropbtn {
    background-color: #776199;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropbtn:hover, .dropbtn:focus {
    background-color: #323854;
  }
  

  .dropbtn i{
      padding-left: 30px;
  }

 .dropdown-closed {
    display: none;
  }

  .dropdown-open {
    display: block;
  }

  #myDropdown {
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  #myDropdown a {
    color: purple;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  #myDropdown a:hover {background-color: #ddd}