.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navbar h1{
    color: white;
}

.iconBtn{
    border: none;
    background-color: transparent;
    color: #6c757d;
}
