*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald;
    transition: all .2s linear;
}

.signup-container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../Assets/Mixle_Background.png");
    background-size: cover;
    background-position: center;
}

.signup-container form{
    height: 450px;
    width: 350px;
    background: rgba(255, 255, 255, 0);
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    border-left: 1px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(5px);
}

.signup-container form h3 {
    font-size: 30px;
    padding: 30px 0px;
    color: #ccc;
    letter-spacing: 3px;

}

.signup-container form i{
    padding-right: 7px;
    font-size: 20px;
    color: #bbb;
}

.signup-container form input{
    outline: none;
    border: none;
    height: 40px;
    width: 82%; 
    background: rgba(0, 0, 0, .1);
    color: rgba(255, 255, 255, .7);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    font-size: 17px;
    padding: 0 10px;
    margin: 15px 0px;
    letter-spacing: 1px;
}

.signup-container form input[type="submit"]{
    width: 90%;
    cursor: pointer;
    background: linear-gradient(90deg, #776199, #323854);
    margin-top: 5px;
    border-radius: 50px;
}

.signup-container form input[type="submit"]:hover{
 letter-spacing: 4px;
}