/* COMPRESSOR */


/* COMPRESSOR */

#compressorContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #000;
    border-radius: 5px;
}

#compressorP {
    text-align: center;
    margin: 0;
}

#compressorContainer label {
    text-align: center;
}

.compressorSliderContainer {
    display: grid;
    grid-template-columns: 20% 65% 15%;
    grid-template-rows: 25% 25% 25% 25%;
}


/* COMPRESSOR SLIDERS */

.compressorSliders {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #000;
    outline: none;
    border: 5px solid rgb(0, 193, 252);
    border-radius: 8px;
}

/* for chrome/safari */
.compressorSliders::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 25px;
    background: #000;
    cursor: pointer;
    border: 5px solid rgb(8, 0, 252);
    border-radius: 4px;
}

/* for firefox */
.compressorSliders::-moz-range-thumb {
    width: 20px;
    height: 60px;
    background: #000;
    cursor: pointer;
    border: 5px solid lawngreen;
    border-radius: 4px;
}