/********** DELAY **************/

#delayContainer {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
}

#delayP {
    text-align: center;
    margin: 0;
}

#delayContainer label {
    text-align: center;
}

.delaySliderContainer {
    display: grid;
    grid-template-columns: 20% 65% 15%;
    grid-template-rows: 25% 25% 25% 25%;
}


/* SLIDER STYLING */
.delaySliders {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #000;
    outline: none;
    border: 5px solid rgb(244, 252, 0);
    border-radius: 8px;
}

/* for chrome/safari */
.delaySliders::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 25px;
    background: #000;
    cursor: pointer;
    border: 5px solid rgb(252, 0, 0);
    border-radius: 4px;
}

/* for firefox */
.delaySliders::-moz-range-thumb {
    width: 20px;
    height: 60px;
    background: #000;
    cursor: pointer;
    border: 5px solid lawngreen;
    border-radius: 4px;
}