/* ----------------- EQUALIZER CSS ------------- */

/* FOR DESKTOP */
@media only screen and (min-device-width: 601px) {
    #eqPlaySaveContainer {
        display: grid;
        grid-template-columns: 15% 70% 15%;
        grid-template-rows: 100%;
    }

    #eqContainer {
        grid-column: 2 / 3;
    }

    #playButton {
        grid-column: 1 / 2;
    }

    #saveButton {
        grid-column: 3 / 4;
    }

    #playButtonContainer {
        display: flex;
    }

    #saveButtonContainer {
        display: flex;
    }
}

/* FOR MOBILE */
@media only screen and (max-device-width: 600px) {
    #eqPlaySaveContainer {
        /* border: 1px solid purple; */
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px 400px;
    }

    #eqContainer {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }

    #playButton {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    #saveButton {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    #playButtonContainer {
        display: flex;
    }

    #saveButtonContainer {
        display: flex;
    }
}

#eqContainer {
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0px 8px;
    border-radius: 5px;
    width: -moz-calc(100% - 16px);
    width: -webkit-calc(100% - 16px);
}

.eqBand {
    background-color: black;
    margin: 2px;
    border-radius: 5px;
    width: 20%;
    /* width: -moz-calc(100% / 5);
    width: -webkit-calc(100% / 5); */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2),
        0 6px 20px 0 rgba(255, 255, 255, 0.19);
    /* border: 1px solid yellow; */
}

.eqBand label {
    text-align: center;
}

.eqGain {
    /* transform: rotate(0.75turn); */
    -webkit-appearance: slider-vertical;
}

.eqGainLabel {
    margin-top: 8px;
}

.eqFrequency {
    /* border: 2px solid purple; */
    display: flex;
    margin-bottom: 8px;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

/********** RANGE SLIDERS **************/

.eqFrequencySlider {
    -webkit-appearance: none;
    width: 90%;
    margin: auto;
    height: 20px;
    background: #000;
    outline: none;
    border: 5px solid rgb(252, 113, 0);
    border-radius: 8px;
}

/* BUTTONS */

#playButton {
    width: 150px;
    height: 150px;
    margin: auto;   
    border: 5px solid white;
    border-radius: 35%;
    font-size: 100px;
    padding: 0;
    background-color: rgb(252, 113, 0);
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2),
        0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

#playButton:hover {
    transition-duration: 0.5s;
    background-color: aqua;
}

#playButton span {
    position: relative;
    bottom: 8px;
    /* left: 8px; */
    padding: 0px;
    margin: 0px;
    /* border: 1px solid purple; */
    /* margin: auto; */
}

#saveButton {
    width: 150px;
    height: 150px;
    margin: auto;
    border: 5px solid white;
    border-radius: 35%;
    font-size: 50px;
    padding: 0;
    background-color: rgb(252, 113, 0);
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2),
        0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

#saveButton:hover {
    transition-duration: 0.5s;
    background-color: aqua;
}

/* OTHER STYLING FOR MOBILE */
@media only screen and (max-device-width: 600px) {
    .eqGain {
        -webkit-appearance: none;
        position: relative;
        right: 90px;
        width: 250px;
        height: 20px;
        background: #000;
        outline: none;
        border: 5px solid rgb(252, 113, 0);
        border-radius: 8px;
    }

    #playButton {
        width: 50%;
        height: 90%;
        margin: auto;
        border: none;
        border-radius: 35%;
        font-size: 50px;
        padding: 0px;
        background-color: rgb(252, 113, 0);
        border: 5px solid white;
        box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2),
            0 6px 20px 0 rgba(255, 255, 255, 0.19);
    }

    #playButton:hover {
        transition-duration: 0.5s;
        background-color: aqua;
    }

    #playButton span {
        position: relative;
        bottom: 8px;
        /* left: 8px; */
        padding: 0px;
        margin: 0px;
        /* border: 1px solid purple; */
        /* margin: auto; */
    }

    #saveButton {
        width: 50%;
        height: 90%;
        margin: auto;
        border: none;
        border-radius: 35%;
        font-size: 25px;
        padding: 0;
        background-color: rgb(252, 113, 0);
        border: 5px solid white;
        box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2),
            0 6px 20px 0 rgba(255, 255, 255, 0.19);
    }

    #saveButton:hover {
        transition-duration: 0.5s;
        background-color: aqua;
    }

    .eqGain {
        -webkit-appearance: none;
        /* position: absolute; */
        /* width: 150px; */
        /* top: 20px; */
        height: 20px;
        background: #000;
        outline: none;
        border: 5px solid rgb(252, 113, 0);
        border-radius: 8px;
    }

    .eqBand {
        height: 395px;
    }
}
