/* ----------------- EQUALIZER CSS ------------- */

/* SPACING */

#eqContainer {
    width: 80%;
    display: flex;
    justify-content: space-around;
    /* position: relative;
    top: 75px; */
}

.eqBand {
    border: 1px solid yellow;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.eqGain {
    transform: rotate(0.75turn);
}

.eqFrequency {
    display: flex;
    justify-content: space-around;
    border: 1px solid purple;
    text-align: center;
}


/* RANGE SLIDERS */

.eqGain {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: #000;
    outline: none;
    border: 5px solid rgb(252, 113, 0);
    border-radius: 8px;
}

/* for chrome/safari */
.eqGain::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 50px;
    background: #000;
    cursor: pointer;
    border: 5px solid rgb(59, 252, 0);
    border-radius: 4px;
}

/* for firefox */
.eqGain::-moz-range-thumb {
    width: 20px;
    height: 60px;
    background: #000;
    cursor: pointer;
    border: 5px solid lawngreen;
    border-radius: 4px;
}