#visualizerContainer {
    margin: 8px;
    
}

canvas {
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2), 0 6px 20px 0 rgba(255,255,255,0.19);
}